:root {
  --nav-height: 67px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: system-ui;
  background: radial-gradient(circle, gray 1px, transparent 1px),
    radial-gradient(circle, #7c2fea, #7429ea, #6c22ea, #621aeb, #5812eb);
  background-size: 20px 20px, 100% 100%;
  background-attachment: fixed, fixed;
}

.flex-spacer {
  flex: 1;
}
