:root {
  --nav-height: 67px;
  --primary-color: #4facfe;
  --primary-gradient: linear-gradient(90deg, #4facfe 0%, #00f2fe 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Momo Trust Display", sans-serif;
}

.flex-spacer {
  flex: 1;
}

.primary-text,
.primary-text * {
  background: var(--primary-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
