section {
  height: 100%;

  background: #ff416c; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ff4b2b,
    #ff416c
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ff4b2b,
    #ff416c
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 3.5rem;
  margin: 0.2rem 0;
  text-align: center;
}

h2 {
  font-size: 1.5rem;
  margin: 0.2rem 0 1rem 0;
  text-align: center;
}

.greetings {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.swipe-hint {
  margin-bottom: 1rem;
  font-size: 1rem;
}
