main {
  height: calc(100% - var(--nav-height));
  display: grid;
  place-items: center;
  text-align: center;
}

h1.name {
  font-size: 3.5rem;
}

h1.role {
  font-size: 2rem;
}

p {
  font-weight: bold;
}

p.greeting {
  font-size: 2.5rem;
}

.headings-container {
  position: relative;
}
