<section class="intro-section">
  <div class="flex-spacer"></div>
  <div class="intro-content">
    <p class="greetings">Hey there, I'm</p>
    <h1 class="name">Sameer Khan</h1>
    <h2 class="role">Lead Software Engineer</h2>
  </div>
  <div class="flex-spacer"></div>
  <div class="swipe-hint">
    <p>Swipe to left</p>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="feather feather-arrow-left"
    >
      <line x1="19" y1="12" x2="5" y2="12"></line>
      <polyline points="12 19 5 12 12 5"></polyline>
    </svg>
  </div>
</section>

<style>
  @import "../styles/intro.css";
</style>
