<section>
  <div class="flex-spacer"></div>
  <div>
    <p class="greetings">Hey there, I'm</p>
    <h1>Sameer Khan</h1>
    <h2>Lead Software Engineer</h2>
  </div>
  <div class="flex-spacer"></div>
  <p class="swipe-hint">Swipe to left</p>
</section>

<style>
  @import "../styles/intro.css";
</style>
