---
import Intro from "./Intro.astro";
import Skills from "./Skills.astro";
import "../styles/main.css";
---

<main>
  <div class="panels">
    <Intro />
    <Skills />
  </div>

  <script>
    import "../scripts/main.ts";
  </script>
</main>
