<main>
  <svg class="paper-plane" width="100" height="100" viewBox="0 0 100 100">
    <path d="M10 50 L90 30 L90 70 Z" fill="#fff" stroke="#333" stroke-width="2"
    ></path>
    <path d="M10 50 L90 50 L90 70 Z" fill="#e0e0e0"></path>
    <line x1="10" y1="50" x2="90" y2="50" stroke="#333" stroke-width="1"></line>
  </svg>
  <div class="content">
    <p class="greeting">Hey! I am</p>
    <h1>Sameer Khan</h1>
    <p class="role">Lead Software Engineer</p>
  </div>
</main>

<style>
  @import "../styles/main.css";
</style>

<script>
  import "../scripts/main";
</script>
