<main>
  <div class="content">
    <p class="greeting">Hey! I am</p>
    <div class="headings-container">
      <h1 class="primary-text name">Sameer Khan</h1>
      <h1 class="primary-text role">Lead Software Engineer</h1>
    </div>
  </div>
</main>

<style>
  @import "../styles/main.css";
</style>

<script>
  import "../scripts/main";
</script>
