<nav>
  <a href="#">Home</a>
  <a href="#">Experiences</a>

  <div class="flex-spacer"></div>
  <a href="#">Skills</a>
  <a href="#">Contact</a>
  <a href="#">Resume</a>
</nav>

<style>
  @import "../styles/nav.css";
</style>

<script>
  import "../scripts/nav";
</script>
